html{
background-image: url(https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
font-family: 'Courier New', Courier, monospace;
}

#deleteButton{
    background-color: pink;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 4px;
}

#done{
    text-decoration: line-through;
}
